# Docker
postgres/volume

# Python build artifacts
*.egg-info
build
dist
**/__pycache__
*.pyc
Pipfile.lock
*.csv
*#
logging.log

# Environment file
.env

# Requirements file
src/requirements.txt

# Expected artifacts of the package
diversity-merged.json
functional-predictions-merged.tsv.gz
summary-merged.json
taxonomies-merged.tsv
functional-predictions-merged

# Mypy specifig files
.dmypy.json
