# Docker
postgres/volume

# Python build artifacts
*.egg-info
build
dist
**/__pycache__
*.pyc
*.csv
*#
*.log

# Environment file
.env

# Expected artifacts of the package
diversity-merged.json
functional-predictions-merged.tsv.gz
summary-merged.json
taxonomies-merged.tsv
functional-predictions-merged

# Mypy specifig files
.dmypy.json

#Drawio
**/*.drawio.bkp
**/*.drawio.dtmp

# Env
.venv
