[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
attrs = "*"

[dev-packages]
classeq = {editable = true, path = "./src"}
black = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true

[scripts]
test = """
env \
    MOCK_MSA='src/tests/mock/input/colletotrichum-acutatom-complex/gapdh/Colletotrichum_acutatum_gapdh_gapsfree.fas'
    MOCK_TREE='src/tests/mock/input/colletotrichum-acutatom-complex/gapdh/Colletotrichum_acutatum_gapdh.tree'
    MOCK_PRIORS='src/tests/mock/input/colletotrichum-acutatom-complex/gapdh/Colletotrichum_acutatum_gapdh.sanitized.train-source.json.gz'
    MOCK_REFS='src/tests/mock/input/colletotrichum-acutatom-complex/gapdh/Colletotrichum_acutatum_gapdh.sanitized.reference-set.json.gz'
    python -m unittest
"""
