[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
biopython = "*"
attrs = "*"
clean-base = "*"
pyqt5 = "*"
maturin = "*"
ete3 = "*"
pyside6 = "*"
pyyaml = "*"
unidecode = "*"
fastapi = "*"
starlette = "*"
uvicorn = "*"
pydantic = "*"

[dev-packages]
black = "*"
mypy = "*"
pre-commit = "*"
pandas = "*"
classeq = {editable = true, path = "."}

[requires]
python_version = "3.11"

[scripts]
test = """
env \
    MOCK_MSA='src/tests/mock/input/colletotrichum-acutatom-complex/gapdh/Colletotrichum_acutatum_gapdh_gapsfree.fasta' \
    MOCK_TREE='src/tests/mock/input/colletotrichum-acutatom-complex/gapdh/Colletotrichum_acutatum_gapdh-PhyML.tree' \
    MOCK_PRIORS='src/tests/mock/input/colletotrichum-acutatom-complex/gapdh/Colletotrichum_acutatum_gapdh-PhyML.sanitized.train-source.json.gz' \
    MOCK_REFS='src/tests/mock/input/colletotrichum-acutatom-complex/gapdh/Colletotrichum_acutatum_gapdh-PhyML.sanitized.reference-set.json.gz' \
    python -m unittest
"""
